body {
    background-color: salmon;
    color: white;
}

.main {
    background-color: green;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box {
    height: 150px;
    width: 150px;
    background-color: blue;
    border: black solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}