* { /* Zero out styling */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header { /* Page heading style */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 { /* Horiseon logo */
    display: inline-block;
    font-size: 48px;
}

header h1 .seo { /* for the "seo" part of the word "Horiseon" */
    color: #d9dcd6;
}

nav { /* The menu and it's links */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul { /* No dots for the unordered list that makes up the menu */
    list-style-type: none;
}

nav ul li { /* Nav links should be displayed inline */
    display: inline-block;
    margin-left: 25px;
}

a { /* Standardize page links */
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

figure.hero { /* For the large "hero" image */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover; /* Stretches background to fully cover the "figure" element */
    background-position: center;
}

main { /* For the primary content that makes up most of the entire page */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main section { /* Each section in the "main" semantic div */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

main section img { /* All images in the main section */
    max-height: 200px;
}

main section h2 { /* The header in each of the main sections */
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left { /* "Main" alternates sections that float left or right */
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

aside { /* For the sidebar next to "main" */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside section { /* For each individual section in the sidebar "aside" */
    margin-bottom: 32px;
    color: #ffffff;
}

aside section h3 { /* All headings in the "aside" area */
    margin-bottom: 10px;
    text-align: center;
}

aside section img { /* Images in the above sections */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* The footer, composed of the copyright and "signature" */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 16px;
}

footer p {
    font-size: 14px;
}
